input[type=checkbox] {display: none;}
input[type=checkbox] + label:before {
  content: "\2713";
  color: transparent;
  display: inline-block;
  border: 1px solid #ced4da;
  font-size: 20px;
  font-weight: 700; 
  line-height: 22px;
  margin: -5px 5px 0 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
}

.control-input[type=checkbox]:checked + label:before {
  color: #71C2FF;
}


/* .checkbox-lg .form-check-input{
    top: .8rem;
    scale: 1.4;
    margin-right: 0.7rem;
}
   

.checkbox-lg .form-check-label {
    padding-top: 13px;
} */