form label {
    font-weight: bold;
}

body {
    font-family: "arial,helvetica";
    font-size: 12px;
}

input, textarea {
    width: 60%;
    box-sizing: border-box;
    font-family: "arial,helvetica";
    font-size: 12px;
}


.container {
    display: grid; 
    justify-content: center;
}

.plank {
    width: 500px;
    height: 160px;
}


.badge {
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 12px;
    margin: 12px 0;
  }