<form id="myForm" class="row w-100 m-2 p-2">
    <div class="row d-flex w-100 alert-secondary m-0 mb-2 p-1" style="min-height: 3rem;">
        {% set n = 1 %}
        {% for key in filters %}
        {% set filter = filters[key] %}
        {% set fname = str(n) + 'select' %}
            {% for select_opt in filter %}
            {% if select_opt['had_chosen'] %}
            <div class='choices' data-name="{{fname}}">
                 <button class="btn btn-sm btn-outline-secondary" type="button" onClick="">x</button> 
                 {{select_opt['name']}} </div>   {% end %}
            {% end for %}
        {% set n = n + 1 %}
        {% end for %}
    </div>


    {% set n = 1 %}
    {% for key in filters %}
    {% set filter = filters[key] %}

    {% set fname = str(n) + 'select' %}
    <div class='col-2'>

        <select name='{{fname}}' id='{{fname}}' class="custom-select" multiple>
            {% for select_opt in filter %}
            <option value="{{select_opt['val']}}"    {{ selected="selected" if select_opt['had_chosen'] else '' }} >
                {{select_opt['name']}}
            </option>
            
            {% end for %}
        </select>
    </div>
    {% set n = n + 1 %}
    {% end for %}


    <button class='btn btn-outline-dark' id="btn" onClick="renewFilters()">Submit</button>
</form>